.col_Yellow {
    background-color: yellow;
}

#vel {
    background-color: aqua;
}

.jaiB {
    background-color: blue;
}

.pk {
    background-color: red;
}

.nayana {
    background-color: rgb(70, 71, 70);
}

.sam {
    background-color: greenyellow;
}